body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(178, 202, 244, 0.2);
}
* {
  font-family: 'Economica', Courier, sans-serif;
}
p {
  font-family: 'BenchNine','Economica';
}
@media screen and (min-width:1024px){
p {
  margin: 0 auto;
  width: 50em;
  font-size: 1.2em;
}
header {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 2em;
  color: #B2CAF4;
}
.photo {
  width: 40em;
  height: 28em;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.legende {
  margin: 0 auto;
  text-align: center;
  background-color: #080808;
  color: #FFFFFF;
  padding-top: 0.1em;
  padding-bottom: 1em;
}
.legendeDroite {
  float: right;
  height: 21em;
  margin-right: 7em;
}
.legendeDroite > p {
  width: 30em;
  display: inline-block;
  clear: both;
}
.photoGauche {
  width: 30em;
  height: 21em;
  float: left;
  display: block;
}
}
@media screen and (max-width:1024px) {
  header {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2em;
    color: #B2CAF4;
    background-color: #080808;
  }
  .aGauche, .aDroite {
    width: 25em;
    height: 14em;
    display: inline-block;
  }
  img {
    width: 25em;
    height: 14em;
    padding-top: 2em;
  }
  .aGauche {
    float: left;
  }
  .aDroite {
    clear: both;
  }
  h1 {
    font-size: 1.5em;
  }
  .legende, .legendeDroite {
    padding: 1em;
  }
}
@media screen and (max-width:600px) {
  header {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2em;
    color: #B2CAF4;
    background-color: #080808;
  }
  p {
    display: none;
  }
  h1 {
    position: absolute;
    font-size: 1.7em;
  }
  .aGauche, .aDroite {
    clear: both;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-left: 1.5em
  }
}
